* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  margin-right: auto;
}

.ButtonTab {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ButtonTab button {
  margin: 0;
  padding: 0.25rem;
  width: 100%;
  border-radius: 4px;
  font-size: 1rem;
}

.Output {
  width: 100%;
}

.OutputItem {
  width: 100%;
  height: fit-content;
}

.OutputElement {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid black;
}